/bin/
/bin_test/
/generated/
/package.json
/pnpmfile.js
/npm-generate.log
/META-INF/
/frontend/
/node_modules/
/pnpm-lock.yaml
/tsconfig.json
/types.d.ts
/webpack.config.js
/webpack.generated.js
/.npmrc
